*,
*::before *::after {
  box-sizing: inherit;
}

:root {
  --clr-text: #2f4558;
  --clr-box: #5f85a5;
}

html {
  font-family: "Helvetica", serif;
  color: var(--clr-text);
  font-size: 1.125rem;
}

img {
  display: block;
  max-width: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

/* Navigation Styles */

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: var(--clr-text);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--clr-box);
  text-decoration: underline;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Body Styles */

footer {
  background-color: #2f4558;
  padding-top: 0px;
  padding-bottom: 2px;
}

.info {
  color: white;
  text-align: center;
}

.container {
  display: flex;

  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.content {
  background-color: #2f4558;
  color: white;
}

h2,
p {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
}

.button {
  background-color: white;
  color: #2f4558;
  border: 2px solid #2f4558;
  width: 10%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #2f4558;
  color: white;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    display: flex;

    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
  }

  .button {
    background-color: white;
    color: #2f4558;
    border: 2px solid #2f4558;
    width: 50%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
